@page
@model CoffeeCatPlatform.Pages.BillPages.CreateModel
@{
}
<h1>Create New Bill</h1>
<form method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <table class="table">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Select</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td><input type="number" name="productQuantities[@product.ProductId]" min="0" value="0" /></td>
                    <td><input type="checkbox" name="selectedProducts" value="@product.ProductId"
                               onchange="handleCheckboxChange(this, document.getElementsByName('productQuantities[@product.ProductId]')[0])" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <label for="promotionId">Select Promotion:</label>
    <select id="promotionId" name="promotionId">
        <option value="@Model.Promotions.First().PromotionId">@Model.Promotions.First().Name</option> <!-- Default option for no promotion -->
        @foreach (var promotion in Model.Promotions.Skip(1))
        {
            <option value="@promotion.PromotionId">@promotion.Name</option>
        }
    </select>
    </br>

    <label for="note">Note:</label>
    <textarea id="note" name="note" rows="4" cols="50"></textarea>
    </br>

    <input type="submit" value="Create Bill" />
</form>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<script>
    function handleCheckboxChange(checkbox, quantityInput) {
        if (checkbox.checked) {
            // Checkbox is checked, set quantity to 1
            quantityInput.value = 1;
        } else {
            // Checkbox is unchecked, set quantity to 0 or handle as needed
            quantityInput.value = 0;
        }
    }
</script>
