@page
@model CoffeeCatPlatform.Pages.BillPages.IndexModel
@{
}
<h1>View All Bills</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Payment Time</th>
            <th>Promotion</th>
            <th>Reservation For</th>
            <th>Staff Name</th>
            <th>Note</th>
            <th>Actions</th>
        </tr>
    </thead>
     <tbody>
        @foreach (var bill in Model.Bills)
        {
            <tr>
                <td>@bill.BillId</td>
                <td>@bill.TotalPrice</td>
                @if (bill.Status == 1)
                {
                    <td>Finished</td>
                }
                else
                {
                    <td>Ongoing</td>
                }
                <td>@bill.PaymentTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@bill.Promotion.Name</td>
                <td>@bill.Reservation?.Customer.Name</td>
                <td>@bill.Staff?.Name</td>
                <td>@bill.Note</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@bill.BillId">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@bill.BillId">Edit</a> |

                    @if (bill.Status == 0)
                    {
                        <form method="post" asp-page-handler="CloseBill">
                            <input type="hidden" name="billId" value="@bill.BillId" />  
                            <button type="submit" class="btn btn-primary">Close Bill</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
