@page "/ViewCat"
@model CoffeeCatPlatform.Pages.CatManagement.CatViewModel
@{
}

<h1>View All Cats</h1>



<table class="table">
    <thead>
        <tr>
            
            <th>Name</th>
            <th>Breed</th>
            <th>Birthday</th>
            <th>Health Status</th>
            <th>Image</th>
            <th>Actions</th>
            
            <!-- Add more headers based on your Cat model properties -->
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model.Cats)
        {
            <tr>
                
                <td>@cat.Name</td>
                <td>@cat.Breed</td>
                <td>@cat.Birthday.ToShortDateString()</td>
                @if (cat.HealthStatus == 1)
                {
                    <td>
                        <p>
                            Available
                        </p>
                    </td>
                }
                else
                {
                    <td>
                        <p>
                            Unavailable
                        </p>
                    </td>
                }
                <td>
                    <img src="@cat.ImageUrl" alt="Cat Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>
                    <a asp-page="./EditCat" asp-route-id="@cat.CatId">Edit</a> |
                    <a asp-page="./DeleteCat" asp-route-id="@cat.CatId">Delete</a>
                </td>
                <!-- Add more cells based on your Cat model properties -->
            </tr>
        }
    </tbody>
    
</table>
<a asp-page="./CreateCat">Create Cat</a>
