@page
@model CoffeeCatPlatform.Pages.CustomerPages.ReservationPages.CancelReservationModel

@{
    ViewData["Title"] = "CancelReservation";
}

<h1>CancelReservation</h1>

<h3>Are you sure you want to cancel?</h3>
<div>
    <div style="display: flex;">
        <div style="flex: 3;">
            <h4>Reservation</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reservation.CreateTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reservation.CreateTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reservation.ArrivalDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reservation.ArrivalDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reservation.StartTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reservation.StartTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reservation.EndTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reservation.EndTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reservation.SeatsBooked)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reservation.SeatsBooked)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reservation.Status)
                </dt>
                <dd class="col-sm-10">
                    @switch (Model.Reservation.Status)
                    {
                        case -1:
                            <text>Payment pending</text>
                            break;
                        case 0:
                            <text>Cancelled</text>
                            break;
                        case 1:
                            <text>On-going</text>
                            break;
                        case 2:
                            <text>Checked-out</text>
                            break;
                    }
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Reservation.TotalPrice)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Reservation.TotalPrice)
                </dd>
            </dl>
        </div>

        <div style="flex: 2;">
            <hr />
            <div class="row">
                <p>Refund amount is based off the remaining days until the day of arrival.</p>
                <p>If the arrival date is 2 or more days before the current date, the full amount is refunded.</p>
                <p>If the arrival date is 1 day before the current date, half of the total price is refunded.</p>
                <p>If the arrival date is the same as the current date, no refund is be given.</p>
            </div>
        </div>
    </div>

    <form method="post">
        <input type="hidden" asp-for="Reservation.ReservationId" />
        <input type="submit" value="Cancel Reservation" class="btn btn-danger" /> |
        <a asp-page="./ViewReservation">Back to List</a>
    </form>
</div>
