@page "/ViewReservation"
@model CoffeeCatPlatform.Pages.CustomerPages.ReservationPages.ViewReservationModel

@{
    ViewData["Title"] = "ViewReservation";
}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Reservation History</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Creation Time</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Arrival Date</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Start Time</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">End Time</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 align-middle text-center">Seats Booked</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Booking Price</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ReservationList)
                                {
                                    <tr>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.CreateTime.ToShortDateString()</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.ArrivalDate.ToShortDateString()</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.StartTime</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.EndTime</p>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@item.SeatsBooked</p>
                                        </td>
                                        @if (item.Status == -1)
                                        {
                                            <td class="align-middle text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-info">Payment pending</span>
                                            </td>
                                        }
                                        else if (item.Status == 0)
                                        {
                                            <td class="align-middle text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-danger">Cancelled</span>
                                            </td>
                                        }
                                        else if (item.Status == 1)
                                        {
                                            <td class="align-middle text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-primary">On-going</span>
                                            </td>
                                        }
                                        else if (item.Status == 2)
                                        {
                                            <td class="align-middle text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-success">Checked-out</span>
                                            </td>
                                        }
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">@item.TotalPrice VND</span>
                                        </td>
                                        <td class="align-middle">
                                            <a asp-page="./ReservationDetail" asp-route-id="@item.ReservationId" class="text-secondary font-weight-bold text-xs">Detail</a>
                                            @if (item.Status != 0 && item.Status != 2)
                                            {
                                                <text> | </text>
                                                <a asp-page="./CancelReservation" asp-route-id="@item.ReservationId" class="text-secondary font-weight-bold text-xs">Cancel</a>
                                            }

                                            @if (item.Status == -1)
                                            {
                                                <text> | </text>
                                                <a asp-page="/MomoPages/MomoInfo" asp-route-id="@item.ReservationId" class="text-secondary font-weight-bold text-xs">Proceed with payment</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>