@page "/Menu"
@model CoffeeCatPlatform.Pages.MenuPages.MenuModel
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<h2>
    ID: @HttpContext.Session.GetString("_Name")
</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Quantity)
            </th>
            <th></th>
        </tr>
    </thead>

    @if (!Model.result)
    {
        <tr>
            <td>
                There are no products.
            </td>
        </tr>
    }
    else
    {
        <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ProductId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ProductId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ProductId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>
