@page "/ViewTable"
@model CoffeeCatPlatform.Pages.TableManagement.ViewTableModel
@using Microsoft.AspNetCore.Http
@{
}
<h1> Table List </h1>

<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tables[0].SeatCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tables[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tables[0].AreaId)
            </th>
            <th>

            </th>
        </tr>
    </thead>

    @if (!Model.result)
    {
        <tr>
            <td>
                There are no Tables.
            </td>
        </tr>
    }
    else
    {
        <tbody>
            @foreach (var table in Model.Tables)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => table.SeatCount)
                    </td>
                    @if (table.Status == 1)
                    {
                        <td>Available</td>
                    }
                    else
                    {
                        <td>Unavailable</td>
                    }
                    @if (table.AreaId == 1)
                    {
                        <td>Indoor Seating</td>
                    }
                    @if (table.AreaId == 2)
                    {
                        <td>Outdoor Patio</td>
                    }
                    @if (table.AreaId == 3)
                    {
                        <td>Private Lounge</td>
                    }
                    <td>
                        <a asp-page="./DeleteTable" asp-route-id="@table.TableId">Delete</a> |
                        <a asp-page="./UpdateTable" asp-route-id="@table.TableId">Update</a> |
                    </td>
                </tr>    
            }
        </tbody>
    }
    
</table>

<a asp-page="./CreateNewTable">Create New Table</a>