@page "/ViewMyAccount"
@model CoffeeCatPlatform.Pages.MyAccount.ViewMyAccountModel
@{
    ViewData["Title"] = "ViewMyAccount";
}
<h1>My Account</h1>
@* <p>
    Full Name: @Html.DisplayFor(modelAccount => Model.Customer.Name)
</p>

<p>
    Email: @Html.DisplayFor(modelAccount => Model.Customer.Email)
</p>

<p>
    Password: @Html.DisplayFor(modelAccount => Model.Customer.Password)
</p>

<p>
    Phone Number: @Html.DisplayFor(modelAccount => Model.Customer.Phone)
</p>
<div>
    <a asp-page="./UpdateMyAccount">Edit My Account</a>
</div> *@

<div class="container-fluid py-4">
    <div class="row mt-3">
        <div class="col-12 col-md-6 col-xl-4 mt-md-0 mt-4">
            <div class="card h-100">
                <div class="card-header pb-0 p-3">
                    <div class="row">
                        <div class="col-md-8 d-flex align-items-center">
                            <h6 class="mb-0">Account Information</h6>
                        </div>
                        <div class="col-md-4 text-end">
                            <a href="/UpdateMyAccount">
                                <i class="fas fa-user-edit text-secondary text-sm" data-bs-toggle="tooltip" data-bs-placement="top" aria-hidden="true" aria-label="Edit Profile" data-bs-original-title="Edit Profile"></i><span class="sr-only">Edit Profile</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-3">
                    <hr class="horizontal gray-light my-4">
                    <ul class="list-group">
                        <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Full Name:</strong> @Model.Customer.Name</li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Phone Number:</strong> @Model.Customer.Phone</li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Email:</strong> @Model.Customer.Email</li>
                        <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Password:</strong> ******</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>